@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Responsive Spacers */
  --spacer-8: theme('spacing.6');
  --spacer-12: theme('spacing.10');
  --spacer-16: theme('spacing.12');
  --spacer-20: theme('spacing.14');
  --spacer-24: theme('spacing.16');
  --spacer-32: theme('spacing.20');
  --spacer-40: theme('spacing.24');
  --spacer-48: theme('spacing.24');
  --spacer-56: theme('spacing.28');
  --spacer-64: theme('spacing.32');
  --spacer-80: theme('spacing.48');
  --spacer-96: theme('spacing.56');
  --spacer-120: theme('spacing.64');
  --gutter: var(--spacer-40);
  --color-theme: theme('colors.theme1');
  --color-theme-prev: theme('colors.theme6');
  --color-theme-next: theme('colors.theme2');
  --radius-cards: theme('spacing.36');

  @screen lg {
    --spacer-8: theme('spacing.8');
    --spacer-12: theme('spacing.12');
    --spacer-16: theme('spacing.16');
    --spacer-20: theme('spacing.20');
    --spacer-24: theme('spacing.24');
    --spacer-32: theme('spacing.32');
    --spacer-40: theme('spacing.40');
    --spacer-48: theme('spacing.48');
    --spacer-56: theme('spacing.56');
    --spacer-64: theme('spacing.64');
    --spacer-80: theme('spacing.80');
    --spacer-96: theme('spacing.96');
    --spacer-120: theme('spacing.120');
  }
}

@layer base {
  html,
  body {
    @apply h-full w-full text-black;
  }

  div#__next {
    @apply h-full;
  }

  body {
    @apply text-base leading-normal lg:text-2xl;
  }

  h1,
  .h1 {
    @apply text-4xl xl:text-7xl;
  }

  h2,
  .h2 {
    @apply text-3xl xl:text-4xl;
  }

  h3,
  .h3 {
    @apply text-2xl xl:text-3xl;
  }

  h4,
  .h4 {
    @apply text-xl xl:text-2xl;
  }

  h5,
  .h5,
  h6,
  .h6 {
    @apply text-lg xl:text-xl;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply font-normal leading-title;

    font-family: var(--font-title);
  }

  ::selection {
    @apply bg-black text-theme;
    text-shadow: none;
  }
}

@layer utilities {
  .font-text {
    font-family: var(--font-text);
  }

  .first-mt-0 {
    & > *:first-child {
      @apply mt-0;
    }
  }

  .last-mb-0 {
    & > *:last-child {
      @apply mb-0;
    }
  }

  .admin-only {
    display: none;

    .__tina-quick-editing-enabled & {
      display: block;
    }
  }

  .bg-blurred {
    @apply backdrop-blur-md;
    background-color: color-mix(in lab, var(--color-theme) 20%, transparent);
  }

  .border-semi-transparent {
    @apply border border-black/20;
  }
}

@layer components {
  .button {
    @apply border-semi-transparent inline-block rounded-full bg-theme px-16 py-4 font-bold transition-colors duration-200 ease-out hashover:hover:border-black hashover:hover:bg-theme-prev;
  }

  .button--primary {
    @apply bg-black text-theme;
  }

  .subtitle {
    @apply font-text text-base font-bold uppercase tracking-widest;
  }

  .text-container {
    & > {
      & p,
      & ul,
      & ol,
      & address,
      & blockquote,
      & table,
      a.button {
        @apply mb-spacer-32;
      }

      & div {
        @apply mb-spacer-32;
      }

      & h1,
      & .h1 {
        @apply mb-spacer-32 mt-spacer-64;
      }

      & h2,
      & .h2 {
        @apply mb-spacer-24 mt-spacer-48;
      }

      & h3,
      & .h3 {
        @apply mb-spacer-12 mt-spacer-24;
      }

      & h4,
      & .h4 {
        @apply mb-spacer-8 mt-spacer-16;
      }

      & ol,
      & ul {
        li:last-child {
          @apply last-mb-0;
        }
      }

      & ol {
        @apply list-decimal;
      }

      & ul {
        @apply list-disc;
      }

      & ul,
      ol {
        @apply list-inside;

        & li {
          & div {
            @apply inline-block;
          }
        }
      }

      & table {
        @apply w-full;

        & td {
          @apply py-8 pr-20;
        }

        & tr:first-of-type {
          @apply border-b border-black font-bold;
        }
      }
    }

    & a.text-link {
      @apply underline transition-opacity duration-200 ease-out hashover:hover:no-underline hashover:hover:opacity-50;
    }

    & blockquote {
      @apply rounded-lg bg-black/5 p-spacer-20;
    }

    & code {
      @apply inline-block rounded-lg bg-black/5 px-6;
    }

    @apply first-mt-0 last-mb-0;
  }

  .layout-grid {
    @apply grid grid-cols-12 p-gutter;
  }
}
