@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Responsive Spacers */
  --spacer-8: theme('spacing.6');
  --spacer-12: theme('spacing.10');
  --spacer-16: theme('spacing.12');
  --spacer-20: theme('spacing.14');
  --spacer-24: theme('spacing.16');
  --spacer-32: theme('spacing.20');
  --spacer-40: theme('spacing.24');
  --spacer-48: theme('spacing.24');
  --spacer-56: theme('spacing.28');
  --spacer-64: theme('spacing.32');
  --spacer-80: theme('spacing.48');
  --spacer-96: theme('spacing.56');
  --spacer-120: theme('spacing.64');
  --v-spacer-120: theme('spacing.64');
  --gutter: theme('spacing.16');
  --color-theme: theme('colors.theme1');
  --color-theme-prev: theme('colors.theme6');
  --color-theme-next: theme('colors.theme2');
  --color-black-darker: color-mix(in lab, theme('colors.black') 40%, black);
  --color-black-darkest: color-mix(in lab, theme('colors.black') 5%, black);
  --radius-cards: 1.4em;

  @screen xs {
    --gutter: theme('spacing.24');
  }

  @screen lg {
    --spacer-8: theme('spacing.8');
    --spacer-12: theme('spacing.12');
    --spacer-16: theme('spacing.16');
    --spacer-20: theme('spacing.20');
    --spacer-24: theme('spacing.24');
    --spacer-32: theme('spacing.32');
    --spacer-40: theme('spacing.40');
    --spacer-48: theme('spacing.48');
    --spacer-56: theme('spacing.56');
    --spacer-64: theme('spacing.64');
    --spacer-80: theme('spacing.80');
    --spacer-96: theme('spacing.96');
    --spacer-120: theme('spacing.120');
    --v-spacer-120: theme('spacing.120');
    --gutter: theme('spacing.64');

    @media (max-height: 1024px) {
      --v-spacer-120: theme('spacing.80');
    }
  }

  @screen xl {
    --gutter: theme('spacing.96');
  }
}

@layer base {
  html,
  body {
    @apply h-full w-full;
  }

  div#__next {
    @apply h-full;
  }

  body {
    @apply bg-themed text-base !leading-normal text-black lg:text-2xl;

    .dark & {
      color: color-mix(in lab, var(--color-theme) 80%, transparent);
    }
  }

  h1,
  .h1 {
    @apply text-4xl lg:text-7xl;
  }

  h2,
  .h2 {
    @apply text-3xl lg:text-5xl;
  }

  h3,
  .h3 {
    @apply text-2xl lg:text-4xl;
  }

  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply text-xl lg:text-3xl;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply font-normal leading-title dark:text-theme;

    font-family: var(--font-title);
  }

  ::selection {
    @apply bg-black text-theme dark:bg-theme dark:text-black;
    text-shadow: none;
  }

  :focus-visible {
    @apply rounded-cards;
    outline: 5px solid color-mix(in lab, theme('colors.black') 35%, transparent);

    .dark & {
      outline: 5px solid color-mix(in lab, var(--color-theme) 35%, transparent);
    }

    .ios & {
      outline-color: transparent;
    }
  }

  a,
  button {
    .dark & {
      @apply text-theme;
    }
  }

  hr {
    @apply border-light my-spacer-40 border-t;
  }
}

@layer utilities {
  .font-text {
    font-family: var(--font-text);
  }

  .first-mt-0 {
    & > *:first-child {
      @apply mt-0;
    }
  }

  .last-mb-0 {
    & > *:last-child {
      @apply mb-0;
    }
  }

  .admin-only {
    display: none;

    .__tina-quick-editing-enabled & {
      display: block;
    }
  }

  .bg-themed {
    @apply bg-theme;

    .dark & {
      background-color: var(--color-black-darker);
    }
  }

  .bg-themed-prev {
    @apply bg-theme-prev;

    .dark & {
      background-color: var(--color-black-darkest);
    }
  }

  .bg-themed-next {
    @apply bg-theme-next;

    .dark & {
      @apply bg-black;
    }
  }

  .bg-blurred {
    @apply backdrop-blur-md;
    background-color: color-mix(in lab, var(--color-theme) 40%, transparent);

    .dark & {
      background-color: color-mix(in lab, var(--color-black-darker) 50%, transparent);
    }
  }

  .bg-strong {
    @apply bg-black text-theme dark:bg-theme;

    .dark & {
      color: var(--color-black-darker);
    }
  }

  .border-strong {
    @apply border-black dark:border-theme;
  }

  .border-light {
    @apply border-black/25;

    .dark & {
      border-color: color-mix(in lab, var(--color-theme) 20%, transparent);
    }
  }
}

@layer components {
  .pill {
    @apply border-light inline-block rounded-full border px-[0.8em] py-[0.5em] lg:px-[1.5em];
  }

  .button {
    @apply pill bg-themed hashover:hover:bg-themed-prev hashover:hover:border-strong font-bold !no-underline transition-colors duration-300;
  }

  .button--primary {
    @apply bg-strong text-theme;
  }

  .subtitle {
    @apply font-text text-sm font-bold uppercase tracking-widest lg:text-base;
  }

  .tag {
    @apply pill bg-blurred text-base font-bold;
  }

  a.text-link {
    @apply underline transition-opacity duration-200 ease-out hashover:hover:no-underline hashover:hover:opacity-50;
  }

  .text-container {
    & > {
      & p,
      & ul,
      & ol,
      & address,
      & blockquote,
      & table,
      a.button {
        @apply mb-spacer-32;
      }

      & div {
        @apply mb-spacer-32;
      }

      & h1,
      & .h1 {
        @apply mb-spacer-32 mt-spacer-64;
      }

      & h2,
      & .h2 {
        @apply mb-spacer-32 mt-spacer-120;
      }

      & h3,
      & .h3 {
        @apply mb-spacer-40 mt-spacer-80;
      }

      & h4,
      & .h4,
      & h5,
      & .h5,
      & h6,
      & .h6 {
        @apply mb-spacer-32 mt-spacer-80;
      }

      & .subtitle-title {
        @apply mb-spacer-40 mt-spacer-120;
      }

      & ol,
      & ul {
        li:last-child {
          @apply last-mb-0;
        }
      }

      & ul,
      & ol {
        @apply flex flex-col gap-[0.5em];

        & li {
          @apply flex gap-[1em];

          div {
            @apply flex-1;
          }
        }
      }

      & ul {
        & li {
          &::before {
            content: '';
            @apply mt-[0.75em] block size-[0.25em] rounded-full bg-current;
          }
        }
      }

      & ol {
        counter-reset: my-awesome-counter;

        & li {
          counter-increment: my-awesome-counter;

          &::before {
            content: counter(my-awesome-counter);

            @apply mt-[0.2em] min-w-[0.75em] text-sm lg:mt-[0.4em] lg:text-base;
          }
        }
      }

      & table {
        @apply w-full;

        & td {
          @apply py-8 pr-20;
        }

        & tr:first-of-type {
          @apply border-strong border-b font-bold;
        }
      }
    }

    & .button {
      @apply mx-[0.1em] px-[0.6em] py-[0.15em] dark:!bg-black/25;
    }

    & blockquote {
      @apply rounded-lg bg-black/5 p-spacer-20;
    }

    & code {
      @apply inline-block rounded-lg bg-black/5 px-6;
    }

    @apply first-mt-0 last-mb-0;
  }

  .grid-layout {
    @apply mx-auto w-full max-w-screen-xl px-gutter lg:grid lg:grid-cols-12;
  }

  .grid-layout--extended {
    @apply max-w-[1600px];
  }

  .grid-item-full {
    @apply col-start-1 col-end-13;
  }

  .grid-item-left {
    @apply col-start-1 col-end-10;
  }

  .grid-item-right {
    @apply col-start-4 col-end-13;
  }

  .grid-item-right-leftover {
    @apply col-start-1 col-end-4;
  }

  .grid-item-center {
    @apply col-start-4 col-end-10;
  }

  .image-custom-markdown {
    @screen lg {
      /*
        Make the images in custom markdown take the full width of the grid parent element.
      */
      margin-left: calc((min(100vw, 1280px) / 12 * 3) * -1 + var(--gutter) * 0.5);
    }
  }

  .page-content {
    padding-top: 200px;

    @screen xs {
      padding-top: 250px;
    }

    @screen lg {
      padding-top: 370px;

      @media (min-height: 1024px) {
        padding-top: 400px;
      }
    }
  }

  .post-title {
    @apply pr-[0.9em] indent-[0.9em];

    &:before,
    &:after {
      @apply absolute size-24 bg-contain bg-no-repeat text-current lg:size-40;

      content: '';
      background-color: currentColor;
      mask-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20d%3D%22M22.763%2032.01c5.494-2.87%207.052-7.298%207.052-9.84-5.084.246-8.528-3.198-8.446-7.626C21.451%2010.28%2025.06%207%2029.323%207c4.674%200%208.364%204.018%208.364%209.922%200%206.232-4.1%2012.956-11.562%2015.088h-3.362Zm-18.368%200c5.494-2.87%207.052-7.298%207.052-9.84-5.084.246-8.528-3.198-8.446-7.626C3.083%2010.28%206.691%207%2010.955%207c4.674%200%208.364%204.018%208.364%209.922%200%206.232-4.1%2012.956-11.562%2015.088H4.395Z%22%20fill%3D%22%23000%22/%3E%3C/svg%3E');
      mask-size: contain;
      mask-repeat: no-repeat;
    }

    &:before {
      @apply -ml-[0.9em] mt-[0.025em] rotate-180;
    }

    &:after {
      @apply ml-[0.1em] mt-[0.1em];
    }
  }

  .post-read-more-title {
    @apply subtitle flex w-full items-center gap-20;

    &::before,
    &::after {
      content: '';

      @apply border-light flex-grow border-b;
    }
  }

  .navigation-menu-items {
    @apply bg-blurred border-light z-60 origin-top;

    @screen max-lg {
      @apply !fixed !left-auto !right-0 !top-0 h-screen !max-h-screen w-[280px] !max-w-[80vw] border-l;
    }

    @screen lg {
      @apply mt-16 min-w-[200px] rounded-xl border;
    }
  }

  .navigation-subtitle {
    @apply subtitle px-24 py-12 text-sm max-lg:pb-48 max-lg:pt-20;
  }

  .navigation-link {
    @apply border-light data-[focus]:bg-themed-prev flex w-full gap-16 border-t py-16 pl-24 pr-16 text-left text-base font-bold transition-colors duration-200 ease-out max-lg:last-of-type:border-b;
  }

  .home-visual {
    --size: 80vh;

    @apply pointer-events-none fixed left-1/2 top-1/2 origin-center rotate-45;

    & div {
      @apply border-light absolute z-0 rounded-cards border;
      @apply size-[--size];

      margin-left: calc(var(--size) * -0.5);
      margin-top: calc(var(--size) * -0.5);

      @screen lg {
        --size: 120vh;
      }
    }
  }
}
